/*
* @Author: AIAI
* @Date:   2017-08-17 16:29:03
* @Last Modified by:   AIAI
* @Last Modified time: 2017-08-17 16:39:28
*/
*{
  margin:0;
  padding:0; 
  list-style:none;
  font-family:”微软雅黑”，”宋体”;
 }

 a{ 
 	text-decoration:none;
 }
  Body{
     background:#ffffff;
}